$brightcyan: hsl(172, 67%, 45%);
$verydarkcyan: hsl(183, 100%, 15%);
$darkgrayishcyan1: hsl(186, 14%, 43%);
$darkgrayishcyan2: hsl(184, 14%, 56%);
$lightgrayishcyan1: hsl(185, 41%, 84%);
$lightgrayishcyan2: hsl(189, 41%, 97%);
$bgc: #c5e4e7;
$field: #f3f8fb;
$container: #ffffff;
$fieldtext: #0e4947;
$pcolor: #697b7d;
$button: #00474b;
$total: #2cc1ad;
$active: #9fe8df;
$psec2: #6aa1a6;
$borderactive: #44b4a6;
